@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

/* css reset */
*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* General Styles */
body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    background: #dfe9f5;
    color: black;
}

/* Global styles */
.btn {

    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    outline: none;
    border: none;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}



/* public */
.public {
    width: 100%;
    height: 100vh;
}

.public .left {
    display: none;
}

.public .right {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.public .right .top {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.public .right .top h2 {
    font-size: 20px;
    font-weight: 600;
}


.public .right .get-started {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.public .right .get-started .links {
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media (min-width: 500px) {
    .public .right .get-started .links {
        max-width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .public .right .get-started .links a {
        flex-grow: 1;
    }
}



@media (min-width: 768px)  {
    .public {
        height: 100vh;
        display: grid;
        grid-template-columns: 60% 40%;
    }


    .public .right .top {
        display: none;
    }

    .public .left {
        display: block;

        background-color: #2e3750;
        color: #fff;
        background-image: url('/img/background.jpg');
        background-size: cover;
        background-position: top right;
        background-blend-mode: multiply;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 4px;
    }


    .public .left h1 {
        font-size: 50px;
    }

    .public .right {
        padding: 50px;
    }

    .public .right .get-started h2 {
        font-size: 40px;
        text-align: center;
    }

}

/* Register and Login Forms */
.auth-form-wrapper {
    max-width: 380px;
    width: 90%;
    margin: 100px auto;
    padding: 2rem 0.5rem;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
}

.auth-form-wrapper h1 {
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

.auth-form-wrapper form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #e4e4e4;
}

.auth-form-wrapper form input:focus {
    border: 1px solid rgb(192, 192, 192);
}

.auth-form-wrapper button {
    margin-top: 1.2rem;
    width: 90%;
}

.auth-form-wrapper .member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.auth-form-wrapper .member a {
    color: rgb(17, 107, 143);
    text-decoration: none;
}

/* DashBoard Styles */
.dashboard {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}



.dashboard .dashboard-left {
    display: none;
}


.dashboard .dashboard-right .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #2e3750 solid 2px;
    padding-bottom: 2px;
}

.dashboard .dashboard-right .nav .user {
    font-size: 16px;
    font-style: italic;
}

.dashboard-right .classify-card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-right .classify-card .classify-form-wrapper {
    width: 100%;
    max-width: 500px;
}

.classify-card .classify-form-wrapper form {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin: 0 auto;
}

.classify-card .classify-form-wrapper form label {
    display: block;
    margin-bottom: 5px;
}

.classify-card .classify-form-wrapper form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.classify-card .classify-form-wrapper form button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.classify-card .classify-form-wrapper form button:hover {
    background-color: #0056b3;
}

.classify-card .classify-result-container {
    border: #8e9094 dotted 1px;

    margin-top: 30px;
    padding: 20px;
}

.classify-card .classify-result-container .classify-result {
    margin-bottom: 5px;
    color: green;
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
}

.classify-result-container .label-probabilities {
    margin-top: 10px;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 4px;
}

@media (min-width: 1000px) {

    .dashboard {
        width: 100%;
        height: 100vh;
        margin-top: 0;
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .dashboard .dashboard-left {
        background-color: #2e3750;
        color: #fff;
        background-image: url('/img/background.jpg');
        background-size: cover;
        background-position: top right;
        background-blend-mode: multiply;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 4px;
    }

    .dashboard .dashboard-right {
        padding: 50px;
    }

    .dashboard-right .classify-card {
        margin-top: 60px;
    }
}

.dashboard-right .prev-results {
    margin-top: 20px;
    padding: 20px;
}

.dashboard-right .prev-results h3 {
    margin-bottom: 10px;
}

.prev-results .results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.results .prev-result-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.prev-result-card .timestamp {
    color: #aaa;
  }

.prev-result-card .prev-image-container {
    max-width: 100%;
    height: auto;
}
  
.prev-result-card .prev-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-results .pagination-button {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.prev-results .pagination-button span {
    margin: 0 15px;
}

.dash-links {
    text-align: center;
    margin-top: 30px;

    margin-bottom: 10px;
}

/* ! To moved to appropriate locations later */
.password-instruction {
    background-color: black;
    color: #fff;
}

.pwd-red-outline {
    border: red solid 1px;
}

.pwd-green-outline {
    border: green solid 1px;
}

  
